<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rvbs.pm.mapper.TUserdetailInfoMapper">
  <resultMap id="BaseResultMap" type="com.rvbs.pm.model.TUserdetailInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="LEVELCOMPY" jdbcType="VARCHAR" property="levelcompy" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="BANKOFEMPLOYEE" jdbcType="VARCHAR" property="bankofemployee" />
    <result column="PROJECTGROUP" jdbcType="VARCHAR" property="projectgroup" />
    <result column="BANKUSERID" jdbcType="VARCHAR" property="bankuserid" />
    <result column="LEVELBANK" jdbcType="VARCHAR" property="levelbank" />
    <result column="EDUCATIONINFO" jdbcType="VARCHAR" property="educationinfo" />
    <result column="PHOTOPATH" jdbcType="VARCHAR" property="photopath" />
    <result column="REMARK1" jdbcType="VARCHAR" property="remark1" />
    <result column="REMARK2" jdbcType="VARCHAR" property="remark2" />
    <result column="REMARK3" jdbcType="VARCHAR" property="remark3" />
  </resultMap>
</mapper>